:root {
  --width-card: 285px;
  --width-card-medium: 460px;
  --width-card-wide: 700px;
  --width-content: 750px;
}

/* Headings */
h1 {
  font-size: 2.998rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.875rem;
}

h6 {
  font-size: 0.75rem;
}

/* Navigation */
header nav a {
  color: var(--color-text);
}

header nav h1 {
  font-size: 1.5rem;
}

/* Avatar intro */
.homepage-intro {
  text-align: center;
}

.homepage-intro img {
  margin: 2rem 0;
  width: 150px;
  border-radius: 50%;
}

/* Homepage directory details feature */
.homepage-details {
  margin: 0;
}

.homepage-details summary h2 {
  display: inline-block;
  margin-top: 0;
}

.homepage-details .articles-section {
  display: inline-block;
}

.homepage-details .articles-section ul {
  margin: 0.75rem 0;
}

.homepage-details .articles-section ul {
  padding: 0 1rem;
}

.homepage-details section {
  margin-left: 1.5rem;
  margin-bottom: 1.3rem;
}

/* Markdown inserted images */
p img {
  max-width: 100%;
}