.homepage-details {
  margin: 0;
}

.homepage-details summary h2 {
  display: inline-block;
  margin-top: 0;
}

.homepage-details .articles-section {
  display: inline-block;
}

.homepage-details .articles-section ul {
  margin: 0.75rem 0;
}

.homepage-details .articles-section ul {
  padding: 0 1rem;
}

.homepage-details section {
  margin-left: 1.5rem;
  margin-bottom: 1.3rem;
}